body {
    font-family: "proxima-nova", sans-serif;
    color: #263248;
}

h1 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #7E8AA2;
}

h2 {
    font-weight: 300;
    font-size: 48px;
    color: #FF9800;
}

h3 {
    font-weight: 700;
    color: black;
}

p {
    font-size: 18px;
}

#ingredients, #preparation, #sites {
    font-size: 16px;
}

li {
    padding-bottom: 8px;
}

#info {
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}

.alert {
    margin-top: 16px;
    display: inline-block;
}

.modal.modal-wide .modal-dialog {
  width: 95%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
#tallModal .modal-body p { font-size: 60px;}

.defHide {
    display: none;
}

.panel-body {
    font-size: 17px;
}
.indexlogo {
    width: 250px;
}