<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Recipe Cards</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href=
              "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
        </script>
        
        <!-- Typekit -->
        <script src="//use.typekit.net/bbf2oko.js"></script>
        <script>
            try {
                Typekit.load();
            } catch(e) {}
        </script>
       <script src="{{url_for('static', filename='init.js')}}"></script>
  </head>

  <body>

<div class="container">
      <div class = "row"></div>
      <div class="row">
      <div class = "col-lg-8 col-lg-offset-2">
        <div class="input-group input-group-lg">
          <form id="urlsearch" action="{{ url_for('recipe_by_url') }}" method=post>
            <input type="text" class="form-control" name="url" placeholder="Paste the link to your recipe here...">
            <span class="input-group-btn">
              <button class="btn btn-default" id="submitbtn" type="submit">Go!</button>
            </span>
          </form>
        </div>
      </div>
    </div>
</div>
<br>
<div class = "container">
  <div class ="row">
    <div class = "col-lg-2 col-lg-offset-5"
<div id="storedrecepies"></div>
</div>
<br>
<div class="container text-center" id="footercont">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Github</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Mobile view</a></li>
         
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Tufts CS</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2015 TeamSpooky</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>


  </body>
</html>