<html lang="en">
    
    <head>
        
        <!-- These must come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Recipes</title>
        
        <!-- Bootstrap and custom styles -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href=
              "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        
        <!-- jQuery and Bootstrap plugins -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
        </script>
        
        <!-- Typekit -->
        <script src="//use.typekit.net/bbf2oko.js"></script>
        <script>
            try {
                Typekit.load();
            } catch(e) {}
        </script>
        
    </head>
    
    <body>
        
        <div class="container">
        
            <div class="page-header">
                <div class="row">
                    <div class="col-md-7">
                        <img class ="indexlogo" src="{{url_for('static', filename='logo.png')}}">
                    </div>
                    <div class="col-md-5">
                        <div class="row"><h2 class="text-right">Recipes</h2></div>
                        <div class="row"><div class="text-right">
                <form action="{{ url_for('signout') }}">
                <button class="btn btn-default" id="logout" type="submit">Logout</button>
            </form>
            </div></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center well">
                    <p>Welcome to Recipe Cards! By pasting a URL to the input box below, our tiny internet sous-chefs will gather information about the recipe and store it in our digital recipe box. On the page for your recipe, you will be able to display the cooking instructions one at a time and HUGE so you don't have to get your computer dirty in the kitchen. Just hit either half of the keyboard with your clean elbows to advance (or go back) a step!</p>
                </div>
            </div>
            <div class = "row">
            <form class="form-inline text-center" id="urlsearch"
                  action="{{ url_for('recipe_by_url') }}" method=post>
                <input type="text" class="form-control inline-wide" name="url"
                       placeholder="Recipe URL">
                <button class="btn btn-default" id="submitbtn" type="submit">Go!</button>
            </form>
            {% if error %}
                    <div class="alert alert-danger alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    </div>
                    {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <p> Your recipes:</p>
            {% for recipe in recipes %}
            <p class="text-center">
                <a href="{{url_for('recipepage', recipe_id=recipe.id)}}">{{recipe.name}}</a> from
                <a href="http://{{recipe.source}}">{{recipe.source}}</a>
            </p>
            {% endfor %}
            <hr>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">

            <p>
                Get recipes from:
            </p>
            <ul id="sites">
                <li><a href="http://www.epicurious.com">Epicurious</a></li>
                <li><a href="http://cooking.nytimes.com">New York Times Cooking</a></li>
            </ul>
            </div>
        </div>
        
        </div>
    </body>
    
</html>
