<html lang="en">
    
    <head>
        
        <!-- These must come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Recipes</title>
        
        <!-- Bootstrap and custom styles -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href=
              "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        
        <!-- jQuery and Bootstrap plugins -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
        </script>
        
        <!-- Typekit -->
        <script src="//use.typekit.net/bbf2oko.js"></script>
        <script>
            try {
                Typekit.load();
            } catch(e) {}
        </script>
        
    </head>
    
    <body>
        
        <div class="container">
        
            <div class="page-header">
                <div class="row">
                    <div class="col-md-7">
                        <h1 id="title">Recipe Box</h1>
                    </div>
                    <div class="col-md-5">
                        <h2 class="text-right">Recipes</h2>
                    </div>
                </div>
            </div>
            
            <form class="form-inline text-center" id="urlsearch"
                  action="{{ url_for('recipe_by_url') }}" method=post>
                <input type="text" class="form-control inline-wide" name="url"
                       placeholder="Paste the link to your recipe here">
                <button class="btn btn-default" id="submitbtn" type="submit">Go!</button>
            </form>
            {% for recipe in recipes %}
            <p class="text-center">
                <a href="{{url_for('recipepage', recipe_id=recipe.id)}}">{{recipe.name}}</a> from
                <a href="http://{{recipe.source}}">{{recipe.source}}</a>
            </p>
            {% endfor %}
            <p>
                Get recipes from:
            </p>
            <ul id="sites">
                <li><a href="http://www.epicurious.com">Epicurious</a></li>
                <li><a href="http://cooking.nytimes.com">New York Times Cooking</a></li>
            </ul>
            
            <div class="text-right">
                <form action="{{ url_for('signout') }}">
                <button class="btn btn-default" id="logout" type="submit">Logout</button>
            </form>
            </div>
        </div>
        
    </body>
    
</html>
